[{lager,
	[{log_root, "logs"},
     {error_logger_redirect, true},
	 {crash_log, "crash.log"},
	 {colored, true},
	 {handlers,
		[{lager_console_backend,
          [{level, debug},
           {formatter, lager_default_formatter},
           {formatter_config, [date, " ",
                               time, " ",
                               pid, " ",
                               color, "[",severity,"] ", "\e[0m",
                               {module, ["[", module, "/", function, ":", line, "] "], ""},
                               message, "\n"]}]},

         {lager_file_backend,
          [{file, "debug.log"},
           {level, debug},
           {formatter, lager_default_formatter},
           {formatter_config, [date, " ",
                               time, " ",
                               pid, " ",
                               severity, " ",
                               {module, ["[", module, "/", function, ":", line, "] "], ""},
                               message, "\n"]}]}]}]}].
